asgiref==3.2.3
Django==3.0.3
django-autocomplete-light==3.5.1
django-debug-toolbar==2.2
django-filter==2.3.0
django-js-asset==1.2.2
django-mptt==0.11.0
django-smart-selects==1.5.6
django-tables2==2.3.1
django-taggit==1.2.0
Pillow==7.0.0
pytz==2019.3
six==1.15.0
sqlparse==0.3.0
pycryptodome==3.9.4