{% extends "base.html" %}
{% load static %}
{% block content %}

                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <h2 class="card-title">Add new Region</h2>
                        <div class="card">
                            <form class="form form-horizontal" method="post" id="RegionAddForm">
                                <div class="card-body">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block pagescript %}
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
<!--    <script src="{% prj-static 'dist/js/waves.js' %}"></script>-->
    <!--Menu sidebar -->
<!--    <script src="{% prj-static 'dist/js/sidebarmenu.js' %}"></script>-->
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!-- This Page JS -->
    <script src="{% static 'assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/mask/mask.init.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColor/dist/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asGradient/dist/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function() {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
{% endblock %}
