{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% load utils %}
<!--{% load render_table from django_tables2 %}-->

{% block content %}

  <h2 class="card-title">Device`s Roles</h2>

        <!-- ============================================================== -->
        <!-- Buttons-->
        <!-- ============================================================== -->
         <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-auto col-sm-auto">
                    <a class="btn btn-primary btn-lg" href="{% url 'organisation:role_add' %}" role="button">Add</a>
                    <a class="btn btn-secondary btn-lg" href="#" role="button">Import</a>
                </div>
            </div>
         </div>
         <hr>
        <!-- ============================================================== -->
        <!-- End Buttons-->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                   <div class="table-responsive">
                       {% render_table table 'organisation/tmpl_table.html' %}
                   </div>
                </div>

            </div>
        </div>
{% endblock %}



