{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>DS Assistant</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/quill/dist/quill.snow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/select2-bootstrap-0.1.0-beta.10/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/tag/bootstrap-tagsinput.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'assets/images/logo-icon.png' %}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                            <img src="{% static 'assets/images/logo-text-dc.png' %}" alt="DC Assistant" class="light-logo" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"><a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                         {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle" width="31"><strong> {{ request.user }}</strong></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="ti-user m-r-5 m-l-5"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="ti-settings m-r-5 m-l-5"></i> Admin</a>
                                <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            </div>
                        </li>
                        {% else %}
                            {% url 'login' as login_url %}
                            {% if request.path == login_url %}
                                <li><a class="nav-link waves-effect waves-dark" href="{{ request.get_full_path }}"><i class="fa fa-sign-in"></i> Log in</a></li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-dark" href="{{ login_url }}?next={{ request.get_full_path | urlencode }}"><img src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle" width="31"><strong> Log in</strong></a>
                                </li>

                            {% endif %}
                        {% endif %}
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Organisation </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{% url 'organisation:region_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-crosshairs-gps"></i><span class="hide-menu"> Regions </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:location_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-cube"></i><span class="hide-menu"> Locations </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:rack_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-blur-linear"></i><span class="hide-menu"> Racks </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:vendor_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-factory"></i><span class="hide-menu"> Vendors </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:model_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-chip"></i><span class="hide-menu"> Device Models </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:platform_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-book-plus"></i><span class="hide-menu"> Platforms </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:role_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-cards"></i><span class="hide-menu"> Device Roles </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:device_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-server"></i><span class="hide-menu"> Devices </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-lock"></i><span class="hide-menu">Secret </span></a>
                            <ul aria-expanded="True" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{% url 'secret:secret_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-key-variant"></i><span class="hide-menu"> Passwords </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'organisation:rack_list' %}" class="sidebar-link waves-effect waves-dark sidebar-link"><i class="mdi mdi-lock-pattern"></i><span class="hide-menu"> Passwords Role </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">

                All Rights Reserved. Designed and Developed by Dekin M <a href="https://ya.ru"> Personal Site </a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/chart/chart-page-init.js' %}"></script>
    <script src="{% static 'assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/mask/mask.init.js' %}"></script>
    <script src="{% static 'dist/js/forms.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColor/dist/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asGradient/dist/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'assets/libs/tag/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'dist/js/clipboard.js/clipboard-2.0.4.min.js' %}"></script>
    <script src="{% static 'dist/js/flatpickr-4.6.3/flatpickr.min.js' %}"></script>

    <script type="text/javascript">
        var dc_assistant_api_path = "/{{ settings.BASE_PATH }}api/";
        var loading = $(".loading");
        $(document).ajaxStart(function() {
            loading.show();
        }).ajaxStop(function() {
            loading.hide();
        });
    </script>

{% block pagescript %}{% endblock %}

{{ form.media }}
</body>

</html>