{% extends "secret/usermenu.html" %}
{% load static %}

{% block usercontent %}

        <div class="card">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="card-body">
                        <h5 class="card-title" style="color: white">Errors</h5>
                        <div class="alert alert-danger" role="alert">
                            {{ form.old_password.errors }}
                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Old password</label>
                        <div class="col-sm-9">
                            {{ form.old_password }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">New password</label>
                        <div class="col-sm-9">

                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">New password confirm</label>
                        <div class="col-sm-9">

                            {{ form.new_password2 }}
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body text-right">
                        <button type="submit" name="update" class="btn btn-success btn-lg">Change</button>
                        <a href="{% url 'profile' %}" class="btn btn-secondary btn-lg">Cancel</a>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}
