{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-9">

        <h2>{% block title %}{% if secret.pk %}Edit Secret {{ secret }}{% else %}Add Secret{% endif %}{% endblock %}</h2>
        <div class="card">
            <form action="." method="post" class="form form-horizontal">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="card-body">
                        <h5 class="card-title" style="color: white">Errors</h5>
                        <div class="alert alert-danger" role="alert">
                          {{ form.non_field_errors }}
                        </div>
                    </div>
                {% endif %}
                {{ form.private_key }}
                <div class="row">
                        <div class="card-body">
                            <div class="panel-body">
                                <p>
                                <label class="col-md-3 control-label required"><strong>Device</strong></label>
                                {{ secret.device }}
                                </p>
                                <p>
                                {{ form.name.errors }}
                                <label class="col-md-3 control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {{ form.name }}
                                </p>
                                <p>
                                {{ form.role.errors }}
                                <label class="col-md-3 control-label" for="{{ form.role.id_for_label }}">{{ form.role.label }}</label>
                                {{ form.role }}
                                </p>
                                {{ form.userkeys }}
                            </div>

                                {% if secret.pk and secret|decryptable_by:request.user %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label required">Current Plaintext</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static" id="secret_{{ secret.pk }}">********</p>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button class="btn btn-xs btn-success unlock-secret" secret-id="{{ secret.pk }}">
                                                <i class="fa fa-lock"></i> Unlock
                                            </button>
                                            <button class="btn btn-xs btn-danger lock-secret collapse" secret-id="{{ secret.pk }}">
                                                <i class="fa fa-unlock-alt"></i> Lock
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                            <p>
                            {{ form.plaintext.errors }}
                            <label class="col-md-3 control-label" for="{{ form.plaintext.id_for_label }}">{{ form.plaintext.label }}</label>
                            {{ form.plaintext }}
                            </p>

                            <p>
                            {{ form.plaintext2.errors }}
                            <label class="col-md-3 control-label" for="{{ form.plaintext2.id_for_label }}">{{ form.plaintext2.label }}</label>
                            {{ form.plaintext2 }}
                            </p>


                            <div class="panel panel-default">
                                <div class="panel-heading">Tags</div>
                                <div class="panel-body">
                                    {{ form.tag }} <span class="helptext">Вводить через запятую</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-md-12 text-left">
                                {% if secret.pk %}
                                    <button type="submit" name="_update" class="btn btn-primary">Update</button>
                                    <a href="{% url 'secret:secret' pk=secret.pk %}" class="btn btn-default">Cancel</a>
                                {% else %}
                                    <button type="submit" name="_create" class="btn btn-primary">Create</button>
                                    <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade none-border" id="privkey_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="privkey_modal_title"><span class="fas fa-lock" aria-hidden="true"></span><strong> Enter your private RSA key</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <p>There is no active session key. To request it, paste your private key. Your session key will be saved for future requests at this session.</p>
                <div class="form-group">
                    <textarea class="form-control" id="user_privkey" style="height: 300px;"></textarea>
                </div>
                <div class="form-group text-right noprint">
                    <button id="request_session_key" class="btn btn-primary" data-dismiss="modal">Request session key</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script src="{% static 'dist/js/secrets.js' %}"></script>
{% endblock %}
