{% extends '_base.html' %}
{% load static %}
{% load utils %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-9">
        <h2>{% block title %}{% if secret.pk %}Edit {{ secret }}{% else %}Add Secret{% endif %}{% endblock %}</h2>
        <div class="card">
                    <form action="." method="post" class="form form-horizontal">
                        <div class="card-body">
                            {% csrf_token %}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {% field %}
                            {% endfor %}
                            {{ form.private_key }}
                            {% if form.non_field_errors %}
                                <div class="card-body">
                                    <h5 class="card-title" style="color: white">Errors</h5>
                                    <div class="alert alert-danger" role="alert">
                                      {{ form.non_field_errors }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label required">Device</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{ secret.device }}</p>
                                    </div>
                                    {% form.role %}
                                    {% form.name %}
                                    {% form.userkeys %}
                                    {% form.plaintext %}
                                    {% form.plaintext2 %}
                                    {% form.tags %}
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
            {% include 'secret/privkey_modal.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block pagescripts %}
<script src="{% static 'dist/js/secrets.js' %}"></script>
{% endblock %}

