{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block content %}
<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Secret Attributes</strong>
            </div>
            <table class="table table-hover panel-body">
                <tr>
                    <td>Device</td>
                    <td>
                        <a href="{% url 'organisation:device' pk=secret.device.pk %}">{{ secret.device }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>{{ secret.role }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ secret.name }}</td>
                </tr>
            </table>
        </div>
	</div>
	<div class="col-md-6">
        {% if secret|decryptable_by:request.user %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Secret Data</strong>
                </div>
                <div class="panel-body">
                    <form id="secret_form">
                        {% csrf_token %}
                    </form>
                    <div class="row">
                        <div class="col-md-2">Secret</div>
                        <div class="col-md-6" id="secret_{{ secret.pk }}">********</div>
                        <div class="col-md-4 text-right noprint">
                            <button class="btn btn-xs btn-success unlock-secret" secret-id="{{ secret.pk }}">
                                <i class="fas fa-lock"></i> Unlock
                            </button>
                            <button class="btn btn-xs btn-default copy-secret collapse" secret-id="{{ secret.pk }}" data-clipboard-target="#secret_{{ secret.pk }}">
                                <i class="fas fa-copy"></i> Copy
                            </button>
                            <button class="btn btn-xs btn-danger lock-secret collapse" secret-id="{{ secret.pk }}">
                                <i class="fas fa-unlock-alt"></i> Lock
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                <i class="fa fa-warning" aria-hidden="true"></i>
                You do not have permission to decrypt this secret.
            </div>
        {% endif %}
    </div>
</div>

<div class="modal fade none-border" id="privkey_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="privkey_modal_title"><span class="fas fa-lock" aria-hidden="true"></span><strong> Enter your private RSA key</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <p>There is no active session key. To request it, paste your private key. Your session key will be saved for future requests at this session.</p>
                <div class="form-group">
                    <textarea class="form-control" id="user_privkey" style="height: 300px;"></textarea>
                </div>
                <div class="form-group text-right noprint">
                    <button id="request_session_key" class="btn btn-primary" data-dismiss="modal">Request session key</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script src="{% static 'dist/js/secrets.js' %}"></script>
{% endblock %}