{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row ">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
</div>
<hr>
<div class="row ">

    <div class="col-sm-4 col-md-3">
    <div style="background:gray">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-10">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'profile' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">User Profile </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'change_password' %}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Change Password</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'secret:userkey' %}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">User Keys</span></a></li>
            </ul>
        </nav>
    </div>
    </div>

	<div class="col-sm-8 col-md-6">
        {% block usercontent %}{% endblock %}
	</div>
</div>
{% endblock %}