{% extends "secret/usermenu.html" %}
{% load static %}

{% block title %}User Key{% endblock %}

{% block usercontent %}
    {% if userkey %}
        <div class="pull-right noprint">
            <a href="{% url 'secret:userkey_edit' %}" class="btn btn-warning btn-sm">
                <span class="fas fa-edit" aria-hidden="true"></span>
                Edit user key
            </a>
        </div>
        <h4>
            Your user key is:
            {% if userkey.is_active %}
                <span class="badge badge-pill badge-success">Active</span>
            {% else %}
                <span class="badge badge-pill badge-danger">Inactive</span>
            {% endif %}
        </h4>
        {% if not userkey.is_active %}
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-ban"></i>
                Your user key is inactive. Ask an administrator to enable it for you.
            </div>
        {% endif %}
        <div class="card-body">
        <pre>{{ userkey.public_key }}</pre>
        </div>

        <hr />
        {% if userkey.session_key %}
            <h4>Session key is exist: <span class="badge badge-pill badge-success">Active</span></h4>
            <small class="text-muted">Created {{ userkey.session_key.created }}</small>
        {% else %}
            <h4>No active session key</h4>
        {% endif %}
    {% else %}
        <p>You don't have a user key on file.</p>
        <p>
            <a href="{% url 'secret:userkey_edit' %}" class="btn btn-primary">
                <span class="fas fa-plus" aria-hidden="true"></span>
                Create a User Key
            </a>
        </p>
    {% endif %}
{% endblock %}