{% extends "secret/usermenu.html" %}
{% load static %}

{% block title %}User Key{% endblock %}


{% block usercontent %}
    {% if userkey.is_active %}
        <div class="alert alert-danger" role="alert">
            <strong>Warning:</strong> Changing your public key will require re-activate your user key by another
            staff user. You won`t unable to get any passwords/secrets until you key is not reactivated.
        </div>
    {% endif %}

    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            {{ form.public_key }}
        </div>
        {% if not userkey.public_key %}
        <div class="alert alert-secondary" role="alert">
          <strong>You don`t have userkey. You need to generate key pair.</strong>
        </div>
        {% endif %}
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12 col-md-12">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="new_keypair_modal" id="generate_keypair">Generate New Key Pair</button>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <button type="submit" name="_update" class="btn btn-primary btn-lg ">Save</button>
                            </div>
                             <div class="col-sm-6 col-md-6">
                                <a href="{% url 'secret:userkey' %}" class="btn btn-default btn-lg">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade none-border" id="new_keypair_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title" id="new_keypair_modal_title"><strong>New RSA Key Pair</strong></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>New Public Key</strong>
                    <div class="form-group">
                        <textarea class="form-control" id="new_pubkey" style="height: 250px;"></textarea>
                    </div>
                    <strong>New Private Key</strong>
                    <div class="form-group">
                        <textarea class="form-control" id="new_privkey" style="height: 250px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <strong><p>Private key you have to save. Public key you need copy and past in previous form.</p></strong>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger btn-lg" id="use_new_pubkey" data-dismiss="modal">I SAVED this new private key</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pagescript %}
<script src="{% static 'dist/js/secrets.js' %}"></script>
{% endblock %}
